/*Main structure of the page*/
footer {
  margin-bottom: 40px;
  height: 90%;
}

/*Apply to all paragraph text*/
p{
}

/*Apply to all h5 tags*/
h5 {
  margin-bottom: 80px;
}

/*Apply to all images*/
img{
}

/*Apply to all elements identified the introduction*/
#intro{

}

/*Apply to all elements identified as contact information*/
#contact{
  padding-top:40px;
  padding-left:150px;
  padding-right:150px;
  padding-bottom: 90px;
  background-color: #202020; /*Very dark gray*/
  width: 600px; /*Sets the width of the container*/
  border: 5px lightgray; /*Applies a lightgray border around the container*/
}

/*Apply to all elements identified as education information*/
#education{
  margin-left: 90px;
}

/*Apply to all elements identifiedas experience information*/
#experience{

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    * {
        width:100%;
        text-align: center;
        margin-bottom; 50px;
        padding-left: auto;
        padding-right: auto;
    }
