/*Apply to all titles*/
h1 {
  text-align: center;
}

/*Apply to all paragraphs*/
p{
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
}

/*apply to all subtexts*/
h4 {
  padding-top: 70px;
  text-align: center; /*Aligns the text so that it is centered within the container*/
}

/*apply to all elements identified as project 1*/
#Project-1{
  margin-right: 30px;
  float:left; /*floats the elements left so that the text wraps around the image on the right*/
}

/*apply to all elements identified as project 2*/
#Project-2{
  margin-left: 70px;
  width: 90%;
}

/*apply to all elements identified as project 3*/
#Project-3{
  margin-left: 30px;
  float: right; /*floats the elements right so that the text wraps around the image on the left*/
}
